<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Student Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session.Keys.Count > 0)
                    {
                        <li>@Html.ActionLink("Student", "StudentList", "Student")</li>
                        <li>@Html.ActionLink("Course", "CourseList", "Course")</li>
                    }
                </ul>
                @if (Session.Keys.Count == 0)
                {
                    <div style="text-align:right;margin-top:15px">
                        <span style="color: white">@Html.ActionLink("Register", "RegisterUser", "User", null, new { style = "color: white" }) |</span>
                        <span>@Html.ActionLink("Login", "UserLogin", "User", null, new { style = "color: white" })</span>
                    </div>
                }
                else
                {
                    <div style="text-align:right; margin-top:15px">
                        <span style="color:white">Welcome @Session["name"]! |</span>
                        <span>@Html.ActionLink("Log Off", "LogOff", "User", null, new { style = "color: white" })</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
